<!--Grid column-->
<div class="contact-container container">
    <div class="row mt-5">
        <div class="card mb-3 col-sm-6">            
                <div class="card-body">
                  <div class="content-box">
                    <div class="info">
                      <div class="addr_future_memb">
                        <div class="address-entry">
                          <p class="">UGC Micro and Nanotechnology Centre ugc campus, Pacific University,<br>
                            2345 Southern Road State Highway, Southbound 5712,<br>
                            Australia</p>
                        </div>
                        <footer class="contact-info">
                          <p class=""><strong>Call: </strong> <span>+61(07)373 53921</span></p>
                          <p class=""><strong>Email: </strong> <span>trung@griffith.edu.au</span></p>
                        </footer>
                      </div>
                    </div>
                    <p class="text mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                        Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <ul class="social-links clearfix col-sm-12 mt-5">
                      <li><a href="#"><i class="fab fa-skype"></i></a></li>
                      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                      <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
          </div>
        <div class="col-sm-6">
            <!-- Form contact -->
            <form class="p-5 grey-text">
              <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                <input type="text" id="form3" class="form-control form-control-sm">
                <label for="form3">Your name</label>
              </div>
              <div class="md-form form-sm"> <i class="fas fa-envelope prefix"></i>
                <input type="text" id="form2" class="form-control form-control-sm">
                <label for="form2">Your email</label>
              </div>
              <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                <input type="text" id="form32" class="form-control form-control-sm">
                <label for="form34">Subject</label>
              </div>
              <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
                <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                <label for="form8">Your message</label>
              </div>
              <div class="text-center mt-4">
                <button class="btn btn-primary">Send <i class="far fa-paper-planeml-1"></i></button>
              </div>
            </form>
          
              
            <!-- Form contact -->
          </div>
          <div id="map-container-google-1" class="z-depth-1-half map-container col-sm-12 mt-5" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
    </div>
</div>

  <!--Grid column-->