<div class="events-container container">
  <div class="row">
    <div class="col-sm-6 my-5">
      <div class="col-sm-12 ">
        <h2 class="align-center">Latest News</h2>
        <ul class="timeline-3">
          <li *ngFor="let news of eventsData.News; index as i">
            <a href="#!">{{news.headLine}}</a>
            <a href="#!" class="float-end ml-3">{{news.Date}}</a>
            <p class="mt-2">{{news.Content}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 my-5">
      <div class="col-sm-12 ">
        <h2 class="align-center">Twitter Handle</h2>
        <ngx-tweet tweetId="921670221710032896"></ngx-tweet>
        <ngx-tweet tweetId="921670221710032896"></ngx-tweet>
        <ngx-tweet tweetId="921670221710032896"></ngx-tweet>
      </div>
    </div>
  </div>
</div>