<div class="focusarea-container container">
    <div class="row">
        <div class="col-sm-4 mt-5" *ngFor="let img of focusAreas; index as i">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img [src]="img.image" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{img.Name}}</h5>
                <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
                <a href="#!" class="card-link">Read More</a> -->
              </div>
            </div>
          </div> 
    </div>

   
  </div>