/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0;   
  font-family: 'Montserrat', sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Common Styles*/
a{
    color: #22c0e8 !important;
}

h5{
  font-size: 18px !important;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif !important;
}
p{
  font-size: 15px !important;
  color: black;
}
h4 , h2 , h3 , p {
  font-family: 'Montserrat', sans-serif !important;
}
.align-center{
  text-align: center;
}
.row{
  margin-right: 0 !important;
    margin-left: 0 !important;

}
/* event component */
ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  /*Progress */
  .progress{
    height: 5px !important;
  }

  .social-links{
    list-style: none;
    li{
        display: inline-block;
        margin: 10px;
        a{
            display: inline-block;
            font-size: 12px;
            color: #7a7d8a !important;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
        }
    }
   
}

.card{
  border: 1px solid #BFD5EA !important;
  border-radius: 10px !important;
}

.resource-container{
  .mat-tab-body-content{
    margin:30px;
    height: auto;
  }
  .card {
    margin:10px;
    color:black;
  }
  .btn {
    color: black;
  }
}