<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="true" class="carousel slide">
  <mdb-carousel-item *ngFor="let img of slides; index as i">
    <div class="view w-100">
      <img class="d-block w-100 carousel-image" [src]="img.image" alt="First slide">
      <div class="mask flex-center rgba-black-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown delay-1s">
        <h1 class="h3-responsive">{{img.heading}}</h1>
        <p>{{img.p}}</p>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="content-container container mt-5">
  <div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Foucs Areas</h1>
  </div>
  <div class="focusarea-container row">
    <div class="col-sm-4" *ngFor="let img of focusAreas; index as i">
      <div class="card mt-5">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img [src]="img.image" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{img.Name}}</h5>
          <!-- <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <a href="#!" class="card-link">Read More</a> -->
        </div>
      </div>
    </div> 
  </div>
  <div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Events</h1>
  </div>
  <div class="events-container row mt-5">
    <div class="col-sm-6 mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">About</h2>
          <div class="card-text">
            {{aboutUs.content1}}
            <ul class="mt-2">
              <li *ngFor="let areas of aboutUs.areas; index as i">
                {{areas.area}}
              </li>
            </ul>
            <p>
              {{aboutUs.content2}}
            </p>
          </div>
          <!-- <a href="#!" class="card-link">Read More</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6 my-5">
      <div class="row">
        <div class="col-sm-9 offset-md-2">
          <h2 style="margin-left: 1.2rem;">Latest News</h2>
          <ul class="timeline-3">
            <li *ngFor="let news of eventsData.News; index as i">
              <a href="#!">{{news.headLine}}</a>
              <a href="#!" class="float-end ml-3">{{news.Date}}</a>
              <p class="mt-2">{{news.Content}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="counts-container row">
    <div class="inner-container col-sm-12  mt-5">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-sm-12 counter-column" *ngFor="let counts of counts; index as i">
          <div class="single-counter-box">
            <div class="count-outer count-box counted">
              <span class="count-text" data-speed="1500" data-stop="2340">{{counts.count}}</span>
            </div>
            <div class="text">{{counts.name}}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Faculty Details</h1>
  </div>
  <div class="faculty-container row  mt-5">
    <div class="row basic-info">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-sm-4">
            <img [src]="userData.image" alt="..." class="faculty" />
          </div>
          <div class="col-sm-6 offset-sm-1">
            <div class="card-body">
              <div class="content-box">
                <div class="info">
                  <h2 class="name">{{userData.name}}</h2>
                  <span class="designation">{{userData.designation}}</span>
                  <div class="addr_future_memb mt-5">
                    <div class="address-entry">
                      <p class="">{{userData.address}}</p>
                    </div>
                    <footer class="contact-info">
                      <p class=""><strong>Call: </strong> <span>{{userData.cell}}</span></p>
                      <p class=""><strong>Email: </strong> <span>{{userData.email}}</span></p>
                    </footer>
                  </div>
                </div>
                <p class="text mt-5">{{userData.about}}</p>
                <ul class="social-links clearfix mt-5">
                  <li><a href="#"><i class="fab fa-skype"></i></a></li>
                  <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="progress-content row col-sm-12 mt-5 mb-5">
      <div class="single-progress-box col-sm-4 mt-4" *ngFor="let research of userData.researchIntrests; index as i">
        <h5 >{{research.area}}</h5>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar"  [ngStyle]="{'width': [research.percentage]}" aria-valuenow="10"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Student Details</h1>
  </div>
  <div class="student-container row">
    <div class="col-sm-4" *ngFor="let student of students; index as i">
      <div class="card mt-5">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img [src]="student.image" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{student.Name}}</h5>
          <p class="card-text">
            {{student.education}}
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container py-5">

</div>