<div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Publications</h1>
</div>
<div class="publications-container row mt-5" *ngFor="let faculties of publicationsData.faculties; index as i">
    <div class="col-sm-8 offset-sm-1 mt-5" *ngFor="let faculty of faculties.faculty; index as i">
        <h1 class="align-center">{{faculty.name}}</h1>
        <div class="years mt-5" *ngFor="let years of faculty.Years index as i;">
            <h2>{{years.year}}</h2>
            <div class="card mt-3" *ngFor="let publications of years.publicationsOfYear index as i;">
                <div class="card-body">
                    <a [attr.href]="publications.ee" class="card-link" target="_blank"><i class="fa fa-eye"
                            aria-hidden="true"></i></a>
                    <span class="card-text ml-2" *ngFor="let authors of publications.authors index as i;">
                        {{authors.name}},
                    </span>
                    <h5 class="card-title ml-4 mt-3">{{publications.title}} <span
                            class="sub-text">{{publications.venue}}
                            {{publications.volume}}</span></h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Journals</h1>
</div>
<div class="publications-container row mt-5" *ngFor="let faculties of publicationsData.faculties; index as i">
    <div class="col-sm-8 offset-sm-1 mt-5" *ngFor="let faculty of faculties.faculty; index as i">
        <h1 class="align-center">{{faculty.name}}</h1>
        <div class="years mt-5" *ngFor="let years of faculty.Years index as i;">
            <h2>{{years.year}}</h2>
            <div class="card mt-3" *ngFor="let publications of years.publicationsOfYear index as i;">
                <div class="card-body">
                    <a [attr.href]="publications.ee" class="card-link" target="_blank"><i class="fa fa-eye"
                            aria-hidden="true"></i></a>
                    <span class="card-text ml-2" *ngFor="let authors of publications.authors index as i;">
                        {{authors.name}},
                    </span>
                    <h5 class="card-title ml-4 mt-3">{{publications.title}} <span
                            class="sub-text">{{publications.venue}}
                            {{publications.volume}}</span></h5>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="divider-new">
    <h1 class="text-center text-uppercase font-weight-bold deep-grey-text mx-3">Magazines</h1>
</div>
<div class="publications-container row mt-5" *ngFor="let faculties of publicationsData.faculties; index as i">
    <div class="col-sm-8 offset-sm-1 mt-5" *ngFor="let faculty of faculties.faculty; index as i">
        <h1 class="align-center">{{faculty.name}}</h1>
        <div class="years mt-5" *ngFor="let years of faculty.Years index as i;">
            <h2>{{years.year}}</h2>
            <div class="card mt-3" *ngFor="let publications of years.publicationsOfYear index as i;">
                <div class="card-body">
                    <a [attr.href]="publications.ee" class="card-link" target="_blank"><i class="fa fa-eye"
                            aria-hidden="true"></i></a>
                    <span class="card-text ml-2" *ngFor="let authors of publications.authors index as i;">
                        {{authors.name}},
                    </span>
                    <h5 class="card-title ml-4 mt-3">{{publications.title}} <span
                            class="sub-text">{{publications.venue}}
                            {{publications.volume}}</span></h5>
                </div>
            </div>
        </div>

    </div>
</div>